Appium-Python-Client==1.0.2
APScheduler==3.6.3
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
decorator==4.4.2
Flask==1.1.2
future==0.16.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==8.1.0
pycparser==2.20
pyOpenSSL==20.0.1
python-telegram-bot==13.1
pytz==2020.5
requests==2.25.1
selenium==3.141.0
six==1.10.0
soupsieve==2.1
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
Werkzeug==0.15.3
xlrd==1.0.0
